body {
    font-family: sans-serif;
    font-size: 14px;
}

input[type=text] {
    width: 20%;
    margin: 10px;
    border-top: 3px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid darkgray;
    border-left: 3px solid darkgray;
    border-radius: 6px;
}